<% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>
<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="https://es-la.facebook.com/" style="text-decoration:none;">
                                <div class="card text-center">
                                    <div class="header" style="background-color: #dc3545";>
                                        <h4 class="title">Caja</h4>

                                    </div>
                                    <div class="content bg-danger">
                                        <p class="category">Iniciar / Cerrar</p>
                                        <img src="https://img.icons8.com/metro/104/000000/cash-register.png">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.google.cl/webhp?hl=es&sa=X&ved=0ahUKEwjwt4eN0MjhAhXIILkGHcsZ
CS4QPAgH" style="text-decoration:none;">
                                <div class="card text-center">
                                    <div class="header bg-warning" style="background-color: #ffc107";>
                                        <h4 class="title">Registrar Compra</h4>

                                    </div>
                                    <div class="content bg-warning">
                                        <p class="category">Registro de Compra</p>
                                        <img src="https://img.icons8.com/metro/104/000000/restaurant-pickup.png">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-6">
                            <a href="/platos" style="text-decoration:none;">
                                <div class="card text-center">
                                    <div class="header" style="background-color: #17a2b8";>
                                        <h4 class="title">Registrar Compra</h4>
                                    </div>
                                    <div class="content bg-info">
                                        <p class="category">Realizar pago de pedido</p>
                                        <img src="https://img.icons8.com/metro/104/000000/refund.png">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/pedidos" style="text-decoration:none;">
                                <div class="card text-center">
                                    <div class="header" style="background-color: #28a745";>
                                        <h4 class="title" style="text-align: center">Realizar Pedido</h4>
                                        <!--<p class="category">Last Campaign Performance</p>-->
                                    </div>
                                    <div class="content bg-success">
                                        <p class="category">Registro del menú</p>
                                        <img src="https://img.icons8.com/metro/104/000000/waiter.png">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>